<form class="{{cssClass}}" autocomplete="off">
    <div id="pj-titre">
        <div class="flexrow objet">
            <div class="grid-2col" style="max-width: 134px;">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
            </div>
            <div class="grid-2col">
                <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
                <h2>Description</h2>
                <textarea name="data.description" style="min-height: 80px">{{data.data.description}}</textarea>
            </div>
        </div>
    </div>  
    <div class="flexrow objet">
        <div class="grid-2col">
            <label>Emplacement
                <input name="data.emplacement" type="text" value="{{data.data.emplacement}}" placeholder=""/>
            </label>
            <label>Poids
                <input name="data.poids" type="text" value="{{data.data.poids}}" placeholder=""/>
            </label>
            <label>Transporté
                <input name="data.carried" type="text" value="{{data.data.carried}}" placeholder=""/>
            </label>
            <label>Utilisation
                <input name="data.uses" type="text" value="{{data.data.uses}}" placeholder=""/>
            </label>
        </div>
        <div class="grid-2col">
            <label>Action
                <input name="data.action" type="text" value="{{data.data.action}}" placeholder=""/>
            </label>
            <label>Attaque
                <input name="data.identified" type="text" value="{{data.data.identified}}" placeholder=""/>
            </label>
            <label>Équipé
                <input name="data.equipped" type="text" value="{{data.data.equipped}}" placeholder=""/>
            </label>
        </div>
    </div>
</form>