<form class="{{cssClass}} Liber flexcol" autocomplete="off">
<div class="fiche">
	{{!-- Sheet Header --}}
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="sheet-header flexcol" id="pj-titre" style="flex: 0 0 515px;">
			<div class="head">
				<div class="avatar"> 
					<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				</div>
				<div class="headtext">
					<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
					<div class="rexrow">
						<div class="grid-3col">			
							<p>{{localize 'libersf.race'}} : <input class="race" type="text" value="{{data.system.race}}" placeholder="Race"/></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'libersf.metier'}} : <input class="metier" type="text" value="{{data.system.metier}}" placeholder="Métier" /></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'libersf.faction'}} : <input class="faction" type="text" value="{{data.system.religion}}" placeholder="Faction"/></p>
						</div>
						<!--div class="separator"></div-->
						{{localize 'libersf.level'}} : <input class="niveau" name="system.level" type="text" value="{{data.system.level}}" placeholder="1"/></p>
					</div>
					
				</div>
			</div>
		</div>
		<main>
			<h2>{{localize 'libersf.histoire'}}</h2>
				<textarea class="histoire" name="system.histoire">{{data.system.histoire}}</textarea>
			<h2>{{localize 'libersf.etat'}}</h2>
			<div class="rexrow stat">
				<div class="grid-2col">
					<p><span class="deno">❤ {{localize 'libersf.vie'}}</span><input class="hp" name="system.hp.value" type="text" value="{{data.system.hp.value}}" placeholder="10" style="width: 40px;"/><input class="hpmax" name="system.hp.max" type="text" value="{{data.system.hp.max}}" placeholder="10" style="width: 40px;"/>
					<span class="deno andromede">☀ {{localize 'libersf.psy'}}</span><input class="psy andromede" name="system.psy.value" type="text" value="{{data.system.psy.value}}" placeholder="10" style="width: 40px;"/><input class="psymax andromede" name="system.psy.max" type="text" value="{{data.system.psy.max}}" placeholder="10" style="width: 40px;"/></p>
				</div>
				<div class="grid-2col">
					<p><span class="deno">⛉ {{localize 'libersf.armure'}}</span><input class="actarmmax" name="system.armure.max" type="text" value="{{data.system.armure.max}}" placeholder="0"/>
					<span class="deno">⛉ {{localize 'libersf.bouclier'}}</span><input  class="actboumax" name="system.protections.max" type="text" value="{{data.system.protections.max}}" placeholder="0"/></p>
				</div>
				<div class="clear"></div>
				<div class="grid-4col">
					<h2 style="text-align: center;"><button class="stat0 jetdedes" data-name="{{localize 'libersf.stat1'}}" data-comp="{{data.system.stat1}}" data-attDice="0">{{localize 'libersf.stat1'}}</button></h2>
					<input class="stat" name="system.stat1" type="text" value="{{data.system.stat1}}" placeholder="0" style="position: relative;left: calc(50% - 20px);"/>
				</div>
				<div class="grid-4col">
					<h2 style="text-align: center;"><button class="stat0 jetdedes" data-name="{{localize 'libersf.stat2'}}" data-comp="{{data.system.stat2}}" data-attDice="0">{{localize 'libersf.stat2'}}</button></h2>
					<input class="stat" name="system.stat2" type="text" value="{{data.system.stat2}}" placeholder="0" style="position: relative;left: calc(50% - 20px);"/>
				</div>
				<div class="grid-4col">
					<h2 style="text-align: center;"><button class="stat0 jetdedes" data-name="{{localize 'libersf.stat3'}}" data-comp="{{data.system.stat3}}" data-attDice="0">{{localize 'libersf.stat3'}}</button></h2>
					<input class="stat" name="system.stat3" type="text" value="{{data.system.stat3}}" placeholder="0" style="position: relative;left: calc(50% - 20px);"/>
				</div>
				<div class="grid-4col">
					<h2 style="text-align: center;"><button class="stat0 jetdedes" data-name="{{localize 'libersf.stat4'}}" data-comp="{{data.system.stat4}}" data-attDice="0">{{localize 'libersf.stat4'}}</button></h2>
					<input class="stat" name="system.stat4" type="text" value="{{data.system.stat4}}" placeholder="0" style="position: relative;left: calc(50% - 20px);"/>
				</div>
			</div>
			<div class="clear"></div>
		</main>
	</div>
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="autres">
			{{!-- Sheet Tab Navigation --}}
		    <nav class="sheet-tabs tabs" data-group="primary">
		        <a class="item active" data-tab="features"><span>{{localize 'libersf.cpt'}}</span></a><a class="item" data-tab="items"><span>{{localize 'libersf.inv0'}}</span></a><a class="item" data-tab="magie"><span>{{localize 'libersf.magie'}}</span></a>
		    </nav>
		    {{!-- Sheet Body --}}
			<section class="sheet-body" style="overflow: hidden;height: 717px;">
			    {{!-- Features Tab --}}
				<div id="features" class="tab features"  data-group="primary" data-tab="features">

					<h2 style="text-align: center;">{{localize 'libersf.base30'}}</h2>
					<div class="compt"><button class="jetdedes" data-name="Armes à feu" data-comp="{{data.system.stat2}}" data-attDice="{{data.system.Agilité}}">{{localize 'libersf.agil'}}</button>
					<input class="cpt0" name="system.Agilité" type="text" value="{{data.system.Agilité}}" placeholder="{{data.system.Agilité}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Armes exotiques" data-comp="{{data.system.stat2}}" data-attDice="{{data.system.Artisanat}}" title="Construire / Réparer Objet">{{localize 'libersf.arti'}}*</button>
					<input class="cpt1" name="system.Artisanat" type="text" value="{{data.system.Artisanat}}" placeholder="{{data.system.Artisanat}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Athlétisme" data-comp="{{data.system.stat3}}" data-attDice="{{data.system.Balistique}}" title="Réparer les armes / Fabriquer munition">{{localize 'libersf.bali'}}*</button>
					<input class="cpt2" name="system.Balistique" type="text" value="{{data.system.Balistique}}" placeholder="{{data.system.Balistique}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Biotech" data-comp="" data-attDice="{{data.system.Combat}}">{{localize 'libersf.comb'}}</button>
					<input class="cpt3" name="system.Combat" type="text" value="{{data.system.Combat}}" placeholder="{{data.system.Combat}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Combat rapproché" data-comp="{{data.system.stat2}}" data-attDice="{{data.system.ConGén}}">{{localize 'libersf.cong'}}</button>
					<input class="cpt4" name="system.ConGén" type="text" value="{{data.system.ConGén}}" placeholder="{{data.system.ConGén}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Conduite" data-comp="{{data.system.stat2}}" data-attDice="{{data.system.ConSpécif}}">{{localize 'libersf.comp'}}</button>
					<input class="cpt5" name="system.ConSpécif" type="text" value="{{data.system.ConSpécif}}" placeholder="{{data.system.ConSpécif}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Électronique" data-comp="{{data.system.stat3}}" data-attDice="{{data.system.Dextérité}}">{{localize 'libersf.dext'}}</button>
					<input class="cpt6" name="system.Dextérité" type="text" value="{{data.system.Dextérité}}" placeholder="{{data.system.Dextérité}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Escroquerie" data-comp="{{data.system.stat3}}" data-attDice="{{data.system.Diplomatie}}">{{localize 'libersf.dipl'}}</button>
					<input class="cpt7" name="system.Diplomatie" type="text" value="{{data.system.Diplomatie}}" placeholder="{{data.system.Diplomatie}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Force brute" data-comp="{{data.system.stat1}}" data-attDice="{{data.system.Discrétion}}">{{localize 'libersf.disc'}}</button>
					<input class="cpt8" name="system.Discrétion" type="text" value="{{data.system.Discrétion}}" placeholder="{{data.system.Discrétion}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Furtivité" data-comp="{{data.system.stat2}}" data-attDice="{{data.system.Force}}">{{localize 'libersf.forc'}}</button>
					<input class="cpt9" name="system.Force" type="text" value="{{data.system.Force}}" placeholder="{{data.system.Force}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Influence" data-comp="{{data.system.stat3}}" data-attDice="{{data.system.Investigation}}">{{localize 'libersf.inve'}}</button>
					<input class="cpt10" name="system.Investigation" type="text" value="{{data.system.Investigation}}" placeholder="{{data.system.Investigation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Jeu" data-comp="" data-attDice="{{data.system.Jeu}}">{{localize 'libersf.ajeu'}}</button>
					<input class="cpt11" name="system.Jeu" type="text" value="{{data.system.Jeu}}" placeholder="{{data.system.Jeu}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Ingénierie" data-comp="{{data.system.stat3}}" data-attDice="{{data.system.Mécanique}}" title="Réparer Véhicule">{{localize 'libersf.meca'}}*</button>
					<input class="cpt12" name="system.Mécanique" type="text" value="{{data.system.Mécanique}}" placeholder="{{data.system.Mécanique}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Perception" data-comp="{{data.system.stat4}}" data-attDice="{{data.system.Médecine}}">{{localize 'libersf.mede'}}</button>
					<input class="cpt13" name="system.Médecine" type="text" value="{{data.system.Médecine}}" placeholder="{{data.system.Médecine}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Pilotage" data-comp="{{data.system.stat3}}" data-attDice="{{data.system.Natation}}">{{localize 'libersf.nata'}}</button>
					<input class="cpt14" name="system.Natation" type="text" value="{{data.system.Natation}}" placeholder="{{data.system.Natation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Piratage" data-comp="{{data.system.stat3}}" data-attDice="{{data.system.Navigation}}">{{localize 'libersf.navi'}}</button>
					<input class="cpt15" name="system.Navigation" type="text" value="{{data.system.Navigation}}" placeholder="{{data.system.Navigation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Plein air" data-comp="{{data.system.stat4}}" data-attDice="{{data.system.Négociation}}">{{localize 'libersf.nego'}}</button>
					<input class="cpt16" name="system.Négociation" type="text" value="{{data.system.Négociation}}" placeholder="{{data.system.Négociation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Psionique" data-comp="{{data.system.stat4}}" data-attDice="{{data.system.Perception}}">{{localize 'libersf.perc'}}</button>
					<input class="cpt17" name="system.Perception" type="text" value="{{data.system.Perception}}" placeholder="{{data.system.Perception}}" style="text-align: center"/>
					</div>
					<div class="clear"></div>	
				</div>

				{{!-- Items Tab --}}
				<div id="items" class="tab items" data-group="primary" data-tab="items">
					<!--div class="encom"><div class="barenc"></div>
						<p>{{localize 'libersf.encombrement'}} <input class="encours" name="system.encombrement.value" type="text" value="{{data.system.encombrement.value}}" placeholder="0" style="width: 40px;" readonly=""/> / 
						<input class="enc" name="system.encombrement.max" type="text" value="{{data.system.encombrement.max}}" placeholder="0" style="width: 40px;" readonly="" /> {{localize 'libersf.kg'}}</p>
					</div-->
					<div class="flexrow">
						<div class="grid-3col" style="text-align: center">
							<span class="icongun"></span><input  class="armed" name="system.armed" type="text" value="{{data.system.armed}}" title="{{data.system.armed}}" placeholder="Arme" readonly="" /><input  class="degatd" name="system.degatd" value="{{data.system.degatd}}" readonly="" style="display: none;"/><button class="desequi" data-genre="arme">🗑</button>
							<div class="clear"></div>
							<span class="iconcha"></span><input  class="charged" name="system.charged" type="text" value="{{data.system.charged}}" title="{{data.system.charged}}" placeholder="Chargeur" readonly="" /><button class="desequi" data-genre="chargeur">🗑</button>						
						</div>
							
						<div class="grid-3col" style="text-align: center" class="unemain">
							<span class="iconarm"></span><input  class="armurequi" name="system.prog" type="text" value="{{data.system.prog}}" title="{{data.system.prog}}" placeholder="Armure" readonly="" /><button class="desequi" data-genre="armure">🗑</button>
							<div class="clear"></div>
							<span class="iconaut"></span><input  class="autrequi" name="system.autre" type="text" value="{{data.system.autre}}" title="{{data.system.autre}}" placeholder="Autre" readonly="" /><button class="desequi" data-genre="autre">🗑</button>

						</div>
						<div class="grid-3col" style="text-align: center">
							<span class="iconbou"></span><input  class="bouclierqui" name="system.prod" type="text" value="{{data.system.prod}}"  title="{{data.system.prod}}" placeholder="Bouclier" readonly="" /><button class="desequi" data-genre="bouclier">🗑</button>
							<ol class="items-list">
							{{#each actor.argent as |item id|}}
					                <li class="item rexrow" data-item-id="{{item._id}}">
					                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
					                    <!--h4 class="item-name" title="{{item.name}}">{{item.name}}</h4>
					                    <h4 class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</h4>
					                    <h4 class="item-description2" title="{{item.system.description}}">{{item.system.description}}</h4!-->
					                    <h4 class="item-poid" style="display: none">0</h4>
					                    <!--h4 class="item-valeur">{{item.system.valeur}}</h4>
					                    <h4 class="item-techno">{{item.system.techno}}</h4-->
					                    <h4 class="item-qt" style="width:100px">{{item.system.quantite}}</h4>
					                    <div class="item-controls">
					                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
					                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
					                    </div>
					                </li>
					            {{/each}}
					        </ol>
						</div>

						
					
							
					</div>
					<div style="overflow: auto;height: 554px;w">
						<h2 style="margin-top: 20px">{{localize 'libersf.armes'}}</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-portee">{{localize 'libersf.l1'}}</div>
			                  <div class="item-dommage">{{localize 'libersf.l2'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.arme as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
			                    <div class="item-portee">{{item.system.portee}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.system.degat}}">{{item.system.degats}}</div-->
			                    <div class="item-dommage">{{item.system.degats}}</div>
			                    <div class="item-poid">{{item.system.poids}}</div>
			                    <div class="item-valeur">{{item.system.valeur}}</div>
			                    <div class="item-techno">{{item.system.techno}}</div>
			                    <div class="item-qt">{{item.system.quantite}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé arme" genre="arme" name="{{item.name}}" data-genre="arme" data-name="{{item.name}}" data-degat="{{item.system.degats}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>

			                </li>
			            {{/each}}
		        		</ol>
				    	<h2 style="margin-top: 20px">{{localize 'libersf.armures'}}</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-resitance">{{localize 'libersf.l7'}}</div>
			                  <div class="item-hpmax">{{localize 'libersf.l8'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.armure as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
			                    <div class="item-resitance">{{item.system.resitance}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.system.degat}}">{{item.system.degats}}</div-->
			                    <div class="item-hpmax">{{item.system.hp.max}}</div>
			                    <div class="item-poid">{{item.system.poids}}</div>
			                    <div class="item-valeur">{{item.system.valeur}}</div>
			                    <div class="item-techno">{{item.system.techno}}</div>
			                    <div class="item-qt">{{item.system.quantite}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé armure" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}"  data-name="{{item.name}}" data-hpmax="{{item.system.hp.max}}" data-hp="{{item.system.resitance}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>

			                </li>
			            {{/each}}
		        		</ol>
		        		<h2 style="margin-top: 20px">{{localize 'libersf.inv2'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name2">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description2">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.consommable as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <h4 class="item-name2" title="{{item.name}}">{{item.name}}</h4>
			                    <h4 class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</h4>
			                    <h4 class="item-poid">{{item.system.poids}}</h4>
			                    <h4 class="item-valeur">{{item.system.valeur}}</h4>
			                    <h4 class="item-techno">{{item.system.techno}}</h4>
			                    <h4 class="item-qt">{{item.system.quantite}}</h4>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé Chargeur" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <h4 class="item-description2" title="{{item.system.description}}">{{item.system.description}}</h4>
			                </li>
			            {{/each}}
		        		</ol>
				    	<h2 style="margin-top: 20px">{{localize 'libersf.inv'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name2">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description2">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.inventaire as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <h4 class="item-name2" title="{{item.name}}">{{item.name}}</h4>
			                    <h4 class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</h4>
			                    <h4 class="item-poid">{{item.system.poids}}</h4>
			                    <h4 class="item-valeur">{{item.system.valeur}}</h4>
			                    <h4 class="item-techno">{{item.system.techno}}</h4>
			                    <h4 class="item-qt">{{item.system.quantite}}</h4>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé Chargeur" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <h4 class="item-description2" title="{{item.system.description}}">{{item.system.description}}</h4>
			                </li>
			            {{/each}}
		        		</ol>
		        	</div>
				</div>

				

				{{!-- Spell Tab --}}
				<div id="magie" class="tab items " data-group="primary" data-tab="magie">   
					<div style="overflow: auto;height: 554px;w">
						<h2 style="margin-top: 20px">{{localize 'libersf.sort'}}</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-portee">{{localize 'libersf.l1'}}</div>
			                  <div class="item-dommage">{{localize 'libersf.l2'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.sort as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
			                    <div class="item-portee">{{item.system.portee}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.system.degat}}">{{item.system.degats}}</div-->
			                    <div class="item-dommage">{{item.system.degats}}</div>
			                    <div class="item-poid">{{item.system.poids}}</div>
			                    <div class="item-valeur">{{item.system.valeur}}</div>
			                    <div class="item-techno">{{item.system.techno}}</div>
			                    <div class="item-qt">{{item.system.quantite}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé arme" genre="arme" data-genre="arme" name="{{item.name}}" data-name="{{item.name}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>

			                </li>
			            {{/each}}
		        		</ol>
		        	</div>
				</div>
			</section>
		</div>
	</div>	
</div>
</form>