<form class="{{cssClass}}" autocomplete="off">
    <div id="pj-titre" class="objet">
        <div class="flexrow">
            <div class="grid-2col" style="max-width: 134px;">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
            </div>
            <div class="grid-2col">
                <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
                <h2>{{localize 'libersf.descri'}}</h2>
                <textarea name="system.description" style="min-height: 80px">{{data.system.description}}</textarea>
                <input class="model" name="system.techno" type="text" value="{{data.system.techno}}" placeholder="☆ ☆ ☆ ☆ ☆" style="font-size: 1.2em;text-align: right;"/>
            </div>
        </div>
    </div>  
    <div class="flexrow objet">
        <div class="grid-2col">
            <label>{{localize 'libersf.type'}}
                <input name="system.genre" type="text" value="{{data.system.genre}}" placeholder="Type"/>
            </label>
            <label>{{localize 'libersf.degat'}}
                <input name="system.degats" type="text" value="{{data.system.degats}}" placeholder="0"/>
            </label>
            <label>{{localize 'libersf.pds'}}
                <input name="system.poids" type="text" value="{{data.system.poids}}" placeholder="Poids"/>
            </label>
        </div>
        <div class="grid-2col">
            <label>{{localize 'libersf.portee'}}
                <input name="system.portee" type="text" value="{{data.system.portee}}" placeholder="0"/> 
            </label>
            <label>{{localize 'libersf.valeur'}}
                <input name="system.valeur" type="text" value="{{data.system.valeur}}" placeholder="Valeur"/>
            </label>
            <label>{{localize 'libersf.qte'}}
                <input name="system.quantite" type="text" value="{{data.system.quantite}}" placeholder="Valeur"/>
            </label>
        </div>
    </div>
    <p style="column-count: 5;border: 1px solid #782e22;padding: 5px;background: #595959;color: #fff;">
            <span class="ancienete">✬ ☆ ☆ ☆ ☆</span><br>
            <span class="ancienete">★ ☆ ☆ ☆ ☆</span><br>
            <span class="ancienete">★ ✬ ☆ ☆ ☆</span><br>
            <span class="ancienete">★ ★ ☆ ☆ ☆</span><br>
            <span class="ancienete">★ ★ ✬ ☆ ☆</span><br>
            <span class="ancienete">★ ★ ★ ☆ ☆</span><br>
            <span class="ancienete">★ ★ ★ ✬ ☆</span><br>
            <span class="ancienete">★ ★ ★ ★ ☆</span><br>
            <span class="ancienete">★ ★ ★ ★ ✬</span><br>
            <span class="ancienete">★ ★ ★ ★ ★</span></p>
</form>